@import "./../../../scss/variables.scss";

.button {
	font-size: $base;
	color: white;
	background: $primary;
	padding: 12px 20px;
	border-radius: 100px;
	border: none;
	cursor: pointer;
	transition: 200ms;

	&.primary {
		background: $primary;

		&:hover {
			background: #638612;
		}
	}

	&.secondary {
		background: #f2f2f2;
		color: $text-black;

		&:hover {
			background: #cccccc;
		}
	}
}
