@import "./../../scss/variables.scss";

.rating__card__wrapper {
	min-width: 292px;

	background: rgba(255, 255, 255, 0.74);
	box-shadow: 0px 11px 39px rgba(0, 0, 0, 0.07);
	backdrop-filter: blur(5.5px);
	border-radius: 17px;

	display: flex;
	align-items: center;

	padding: 18px 20px;

	.rating__card__image {
		width: 53px;
		height: 53px;
	}

	.rating__card__body {
		margin-left: 19px;
		display: flex;
		flex-direction: column;
		row-gap: 5px;
	}

	.rating__card__title {
		font-size: $sm;
	}

	.rating__card__text {
		color: #757575;
		font-size: $xs;
	}

	.rating__card__stars {
		display: flex;
		align-items: center;
		column-gap: 3px;
	}
}
