@import "./../../../scss/variables.scss";

.navbar__container {
	height: 80px;
	width: 100%;
	position: fixed;
	z-index: 10;
	top: 0;
	padding: 1.5rem 0;
	background-color: white;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.navbar__items {
		display: flex;
		align-items: center;
		font-size: $base;
		column-gap: 2rem;
		position: relative;

		.navbar__item {
			color: $text-gray;
			transition: 200ms;
			cursor: pointer;
			position: relative;

			&:hover {
				color: $primary;
			}

			&.black {
				color: $text-black;
			}

			.badge {
				position: absolute;
				background: #e7462d;
				font-size: 0.5rem;
				color: white;
				text-transform: uppercase;
				padding: 3px 9px;
				border-radius: 0.5rem;
				top: -15px;
				right: -15px;
			}
		}
	}
}

@media (max-width: $tablet) {
	.navbar__brand {
		width: 150px;
		height: 36px;
	}

	.navbar__item {
		display: none;
	}
}
