// colors
$primary: #8bac3e;

$cyan: #40a2b1;
$light-cyan: #e6f3f5;

$blue: #405eb6;
$light-blue: #eaeefa;

$pink: #b23f74;
$light-pink: #f9eef3;

$green: #a4b441;
$light-green: #f3f7d9;

$text-black: #333333;
$text-gray: #6b7280;

// breakpoints
$laptop: 1024px;
$desktop: 1280px;

// fonts
$xs: 0.75rem;
$sm: 0.875rem;
$base: 1rem;
$lg: 1.125rem;
$xl: 1.25rem;
